{% extends 'base/base.html' %}

{% block body %}
<body style="background-color:#16214d;">
<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
                <div class="row fullscreen">
                        <div class="col-md-5 head">
                                <h3 class="text-center">Welcome to Ngage Social</h3>
                                <br>
                                <p class="feat">Manage your accounts </p> 
                                <p class="feat">Generate followings</p> 
                                <p class="feat">Boost your instagram account</p> 
                        </div>
                        <div class="col-md-7  head2">
                                       
                                <form method="post" action=""> 
                                {% csrf_token %}
                                <input type="text" placeholder="Username"  class="roundedinput" name="username" maxlength="40" required="" id="id_username">
                                <input class="roundedinput" type="password" name="password" placeholder="Password" maxlength="20" required="" id="id_password">
                                <br>
                                <input type="submit"    value="Log In" class="btns">
                                <br>
                                <br>
                                <spam class="msj">{{message}}</spam>
                            </form>
                            
                        </div>
                      </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </body>
{% endblock %}
