{% extends 'base/base.html' %}

{% block body %}
<body style="background-color:#16214d; text-align:center">
    <br><br><br><br><br>
    <div class="container fullscreen">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2  "></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 head ">
            <h3 class="text-center">Welcome to Ngage Social</h3>
            

            
            <!--<a href="{% url 'instabot:create' %}">Registrate</a>-->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 head2 ">
                <h3 class="text-center">Welcome to Ngage Social</h3>
                
    
                
                <!--<a href="{% url 'instabot:create' %}">Registrate</a>-->
            </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2  "></div>
        <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 head2">
             
            <form method="post" action="">
                <div class=" text-center mdl-textfield mdl-js-textfield">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <br><br>
                    <input type="submit" value="Log In"
                           class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                </div>
            </form>
        </div>-->

        
    </div>
</body>
{% endblock %}
