{% extends 'dashboard.html' %}

{% block body %}
    
    <div class="col-md-2"></div>

<div class="col-md-8">
    <form action="" method="post">
            {% csrf_token %}
        <div class="radio">
            <h3>Limit the follows number</h3>
            {%if cred.ceiling%}
            <label style="margin-left:-20px; margin-top: 5px;" ><input type="checkbox" name="ceili" value="True" id="ceili" checked>Follow limit:</label>
            <input type="text" id="Ceiling" name="Ceiling" value="{{cred.number_ceiling}}" >
            {%else%}
            <label style="margin-left:-20px; margin-top: 5px;" ><input type="checkbox" name="ceili" value="True" id="ceili" >Follow limit:</label>
            <input type="text" id="Ceiling" name="Ceiling" value="" disabled required>
            <script>
                    document.getElementById('ceili').onchange = function() {
                    document.getElementById('Ceiling').disabled = !this.checked;
                    
                    };</script>
            {%endif%}
            
        </div>
        <br>
        <input class="btn btn-success" type="submit"
            
                   value="Save changes">
</div>
<div class="col-md-2"></div>
{%endblock%}