{% extends 'dashboard.html' %}

{% block body %}

    <div class="row">
            <h4 class="center">Accounts</h4>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="{% url 'instabot:dashboard' %}" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                Back
            </a>
            <a href="{% url 'instabot:addaccount' %}" class="btn btn-primary pull-left">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    New Account
                </a>
        </div>
    </div>
    {% if messages %}
        <div class="row">
            <div class="col-sm-6, col-sm-offset-3">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
            </div>
        </div>
    {% endif %}    
    <hr class="divider">

    <div class="row">
        
        {% load static %}
        
        
            <div class="row">
                    {% for cred in lcreds %}
                   
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-right:-100px;margin-left: px;">
                    <div class="thumbnail">
                        <img style="border-radius: 50%; width: 75px;
                        height: 75px;" src="{{cred.imgUrl}}" alt="user-pic">
                        <div class="caption">
                            <h4 class="text-center">{{cred.insta_user}}</h4>
                            {% if cred.insta_followers %}
                            <p>Followers: {{cred.insta_followers}}</p>
                            <p>Followings: {{cred.insta_followings}}</p>
                            {%else %}
                            <p>Please check yours credentials or Update your credentials</p>
                            {%endif %}
                            <p>
                                    {% if ll.cred.insta_user == cred.insta_user%}
                                <a href="{% url 'instabot:changeAccount' cred.id %}" style="margin-bottom: 3px;" class="btn btn-primary center-block"  
                                role="button">Current</a>
                                {%else%}
                                
                                <a href="{% url 'instabot:changeAccount' cred.id %}" style="margin-bottom: 3px;" class="btn btn-success center-block"  
                                role="button">Switch</a>
                                {%endif%}
                                <a href="{% url 'instabot:edit_acc' cred.id %}" style="margin-bottom: 3px;" class="btn btn-info center-block"  
                                role="button">Edit</a>
                                <a href="{% url 'instabot:delaccount' cred.id %}" class="btn btn-danger center-block"  
                                role="button">Delete</a>
                            </p>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            </div>
        
        

    </div>
{% endblock %}