{% extends 'dashboard.html' %}

{% block body %}

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h4 class="left">Accounts</h4>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="{% url 'instabot:dashboard' %}" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                Back
            </a>
        </div>
    </div>

    <hr class="divider">

    <div class="row">
        <div class="col-md-4">
            <h5 class="center">Add another account</h5>
            <form action="" method="post">
                {% csrf_token %}

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label" for="id_insta_user">Insta user:</label>
                    <input class="mdl-textfield__input" type="text" name="insta_user" id="insta_user" maxlength="30" required=""
                           id="id_insta_user">
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label" for="id_insta_pass">Insta pass:</label>
                    <input class="mdl-textfield__input" type="password" name="insta_pass" id="insta_pass" maxlength="30" required="">
                </div>
                <br>
                <input class="btn btn-primary" type="submit"
                       value="Add account">
                <br><br>
            </form>
        </div>
        {% load static %}
        
        <div class="col-md-8">
            <div class="row">
                    {% for cred in lcreds %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{% static 'img/avatar.png' %}" alt="user-pic">
                        <div class="caption">
                            <h4 class="text-center">{{cred.insta_user}}</h4>
                            <p>
                                <a href="{% url 'instabot:changeAccount' cred.id %}" class="btn btn-primary center-block"  role="button">Current</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        

    </div>
{% endblock %}