{% extends 'dashboard.html' %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h4 class="left">New Task</h4>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="{% url 'instabot:newTask' %}" class="btn btn-primary pull-right">  <!--Se invoca la view para volver -->
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                Back
            </a>
        </div>
    </div>

    <hr class="divider">

    <div id="exTab2" class="container">
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#1" data-toggle="tab">Hashtags</a>
            </li>
            <li><a href="#2" data-toggle="tab">Friend List</a>
            </li>
            <li><a href="#3" data-toggle="tab">Location</a>
            </li>
        </ul>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
        <div class="tab-content ">
            <div class="tab-pane active" id="1">
                <h1>Hola</h1>
                        <form met id="formulario" action="obtener()">
                         <select onchange="getTags()">
                <option>Seleccionar producto</option>
                    {% for  Hasgtag in Hasgtags %}
                <option value="{{Hasgtag.id}}">{{Hasgtag.category}}</option>
                    {% endfor%}
            </select>
                           <script>
                               $('select').on('change',inicio);

                               function inicio(){
                               var id= $(this).val();
                               $.ajax({
                               data: {'id':id},
                               url:'/instabotmv/hashtag_ajax/',
                               type: 'get',
                               success: function(data){
                               var html=""
                               for(var i=0;i<data.length;i++){
                               html += data[i].fields.insta_tag+" "
                               }
                               $('#tagx').html(html);
                               }
                               });
                               }
                           </script>
                </form>
                <form>
                    <h1 id="tagx"></h1>
                    <input type="text" name="tags" id="tags" class="form-control" data-limit ="20" formmethod="post" />
                </form>
                {% include 'includes/audience/hashtags.html' %}
            </div>
            <div class="tab-pane" id="2">
                {% include 'includes/audience/friendList.html' %}
            </div>
            <div class="tab-pane" id="3">
                <h4>3</h4>
            </div>
        </div>
    </div>
{% endblock %}