.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    
    line-height: 1.42857;
}


.grey, .grey:hover, .grey:active, .grey:visited {
  background-color: rgb(214,219,223) !important;
 border: rgb(214,219,223);
}
.btn-lit-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    margin:6px;
    border-radius: 100px;
    text-align: center;
    font-size: 15px;
    line-height: 1.42857;
}
.list-inline li a{
  font-size:20px;
  text-decoration: none;
  color: #757575;
}
.tick{
  margin-left: 20px;
  margin-right: 20px;
  width: 90vw;
 position: relative;
 margin-left: -45vw;
 height: 300px;
 overflow: scroll;
 left: 50%;
 margin-bottom: 5px;
 
}
.ticker {
  
  opacity: 1;
  
  transition: .5s ease;
  backface-visibility: hidden;
}
.ticker:hover {opacity: 0.3}*/
/*.ticker{
  
  transition: transform .2s;
 
  
}
.ticker:hover {-ms-transform: scale(3); /* IE 9 */
  /*-webkit-transform: scale(3); /* Safari 3-8 */
 /* transform: scale(3); }*/

.centrar{
  text-align:center;
  word-wrap: break-word;
}
.divider{
  
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));

}
.thumbnail{
  margin-top: 0px;
  margin-left: 40px;margin-right: 40px;
}
.glyphicon{
  
  
  vertical-align: middle;
  text-align: center;
}

.gradiente{
  background-image: linear-gradient(to right, #2C7CB2, black);
}
.hashtags{
  padding: 4px;
  font-weight: normal;
  color: white;
}

.btn-status-dash{
    width: 10px;
    height: 10px;
    padding: 6px 0px;
    margin:3px;
    text-align: center;
    font-size: 10px;
}

/*-------------------------------------------------------------POPUP--BUBBLE-------------------------------------------------------------*/

.popupBubble{
    position:relative;
    display:inline;
}
.popupBubble .popup{
    position:absolute;
    display:none;
    border:1px solid #AAA;
    border-radius: 15px;
    background:#FFF;
    padding:5px;
    width:25px;
    height:25px;
}

/*--------------------------------------------------------------------TOOLTIP----------------------------------------------------------------*/
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;/* If you want dots under the hoverable text */
  height: max-content;
  width: max-content;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  /*position: absolute;
  z-index: 1;*/
}

.tooltip .tooltiptext {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.simulating.h3{
  color: #757575;
  
}
.rotor {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.circulo {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 
.simulation{
  /* ----------------------------------------------
 * Generated by Animista on 2019-3-4 13:10:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:checked .tooltiptext {
  visibility: visible;
}
.glyphicon-user{
  color:#2C7CB2;
  margin-bottom: 40px;
  margin-right: 1px;
  margin-left: -18px;
  font-size: 15px;
  opacity: 0.7;
}
.glyphicon-minus-sign{
  color:#2C7CB2;
  margin-bottom: 40px;
  margin-right: 1px;
  margin-left: -18px;
  font-size: 15px;
  opacity: 0.7;
}

