<dialog id="settings" class="mdl-dialog">
  <h3 class="mdl-dialog__title center">User Settings</h3>
  <div class="mdl-dialog__content">
      <div>
          <h5 class="center">Blacklist</h5>
          <div class="mdl-textfield mdl-js-textfield getmdl-select">
              <input type="text" value="" class="mdl-textfield__input" id="sample9" readonly>
              <input type="hidden" value="" name="sample9">
              <label for="sample9" class="mdl-textfield__label">Username or Tag</label>
              <ul for="sample9" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                  <li class="mdl-menu__item" data-val="DEU">Drugs</li>
                  <li class="mdl-menu__item" data-val="BLR">Canabis</li>
                  <li class="mdl-menu__item" data-val="RUS">AMLO</li>
              </ul>
          </div>
      </div>
      <div>
          <h5 class="center">Whitelist</h5>
          <div class="mdl-textfield mdl-js-textfield getmdl-select">
              <input type="text" value="" class="mdl-textfield__input" id="sample8" readonly>
              <input type="hidden" value="" name="sample8">
              <label for="sample8" class="mdl-textfield__label">Username or Tag</label>
              <ul for="sample8" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                  <li class="mdl-menu__item" data-val="DEU">Food</li>
                  <li class="mdl-menu__item" data-val="BLR">Pets</li>
                  <li class="mdl-menu__item" data-val="RUS">Obama</li>
              </ul>
          </div>
      </div>
      <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col center-block">
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">play_arrow</i>
              </button>
          </div>
          <div class="mdl-cell mdl-cell--6-col">
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--accent">
                  <i class="material-icons">stop</i>
              </button>
          </div>
      </div>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button">Close</button>
    <button type="button" class="mdl-button">Save</button>
  </div>
</dialog>