<h3>Options</h3>

<div class="option">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <a href="#" class="btn btn-primary">
                <span class="glyphicon glyphicon-heart"></span>
                LIKE MEDIA OF THIS TASK
                <span class="glyphicon glyphicon-ok"></span>

            </a> 
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    	<a href="#" class="btn btn-primary">
    		<span class="glyphicon glyphicon-user"></span>
    		FOLLOW USERS OF THIS TASK MEDIA
    		<span class="glyphicon glyphicon-ok"></span>
    	</a> 
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <a href="#" class="btn btn-primary">
                <span class="glyphicon glyphicon-dashboard"></span>
                SEARCH FOR RECENTLY POSTED MEDIA ONLY
                <span class="glyphicon glyphicon-ok"></span>

            </a> 
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    	<a href="#" class="btn btn-primary">
    		<span class="glyphicon glyphicon-sunglasses"></span>
    		DON´T FOLLOW PREVIOUSLY UNFOLLOWED USER 
    		<span class="glyphicon glyphicon-ok"></span>
    	</a> 
    </div>
    <div class="col-lg-12">
    	<a href="#" class="btn btn-primary">
    		<span class="glyphicon glyphicon-eye-open"></span>
    		DON'T LIKE MEDIA OF THE SAME USER SECOND TIME
    		<span class="glyphicon glyphicon-ok"></span>
    	</a>
    	
    </div>
	
</div>
 <br>
 <br><br>