{% extends 'dashboard.html' %}

{% block body %}
    <main class="mdl-layout__content">
        <div class="page-content container">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">
                    <a href="#starks-panel" class="mdl-tabs__tab is-active"><h5>Personal info</h5></a>
                    <a href="#lannisters-panel" class="mdl-tabs__tab"><h5>Instagram account info</h5></a>
                    <a href="#targaryens-panel" class="mdl-tabs__tab"><h5>Bot info</h5></a>
                </div>

                <div class="mdl-tabs__panel is-active" id="starks-panel">

                    <h4><b>ID: </b>{{ u_system.id }}</h4>
                    <h4><b>First Name: </b>{{ u_system.first_name }}</h4>
                    <h4><b>Last Name: </b>{{ u_system.last_name }}</h4>
                    <h4><b>Username: </b>{{ u_system.username }}</h4>
                    <h4><b>Email: </b>{{ u_system.email }}</h4>
                    <h4><b>Plan purchased: </b></h4>
                    <a href="{% url 'instabot:edit_profile' u_system.id %}"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Edit
                    </a>
                    <a href="{% url 'instabot:delete-system-user' u_system.id %}"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-color--red-500 white-text">
                        Delete
                    </a>
                    <a href="{% url 'instabot:user-list' %}"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-color--green-300 white-text">
                        Return
                    </a>
                </div>
                <div class="mdl-tabs__panel" id="lannisters-panel">
                    <h3 class="center">Instagram account info</h3>
                </div>
                <div class="mdl-tabs__panel" id="targaryens-panel">
                    <h3 class="center">Bot info</h3>
                </div>
            </div>
        </div>
    </main>
{% endblock %}